easydict==1.9
einops==0.3.2
joblib==1.0.1
matplotlib==3.3.4
MinkowskiEngine
nibabel==3.2.1
numpy==1.19.5
open3d
opencv_contrib_python==4.5.2.52
pyflann==1.6.14
pyflann_py3==0.1.0
scipy==1.5.4
tensorboardX==2.5.1
torch
torchvision
tqdm==4.60.0
